In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df1 = pd.read_csv('/content/202108_view_aktivitas_user_complete_202208021913.csv')
df2 = pd.read_csv('/content/202110_view_aktivitas_user_complete_202208021916.csv')
df3 = pd.read_csv('/content/202112_view_aktivitas_user_complete_202208021919.csv')
df4 = pd.read_csv('/content/202201_view_aktivitas_user_complete_202208021921.csv')
df5 = pd.read_csv('/content/202203_view_aktivitas_user_complete_202208021923.csv')
df6 = pd.read_csv('/content/202205_view_aktivitas_user_complete_202208021925.csv')
df7 = pd.read_csv('/content/202207_view_aktivitas_user_complete_202208021928.csv')
df8 = pd.read_csv('/content/202208_view_aktivitas_user_complete_202208021929.csv')

In [ ]:
data1 = df1.append(df2)
data2 = data1.append(df3)
data3 = data2.append(df4)
data4 = data3.append(df5)
data5 = data4.append(df6)
data6 = data5.append(df7)
data7 = data6.append(df8)
df_hasil = data7
df_hasil

,Tanggal,Bulan,Minggu,Hari,Kode_User,Tanggal_Lahir,Nama_Bidan,Provinsi,Kota atau Kabupaten,Kecamatan atau Kelurahan,Penggunaan_Menu,Aktivitas_Bidan,Keterangan
0,2021-08-01 00:00:22,August,1,1,889300,1981-04-25,Junita Purba,SUMATERA UTARA,KABUPATEN DELI SERDANG,PERCUT SEI TUAN,video,watch,watched on Prenatal Yoga untuk Relaksasi & Ata...
1,2021-08-01 00:00:23,August,1,1,889300,1981-04-25,Junita Purba,SUMATERA UTARA,KABUPATEN DELI SERDANG,PERCUT SEI TUAN,video,watch_point,+3 point from video section!
2,2021-08-01 00:01:24,August,1,1,889300,1981-04-25,Junita Purba,SUMATERA UTARA,KABUPATEN DELI SERDANG,PERCUT SEI TUAN,tool,use_point,+3 point from use.
3,2021-08-01 00:01:24,August,1,1,889300,1981-04-25,Junita Purba,SUMATERA UTARA,KABUPATEN DELI SERDANG,PERCUT SEI TUAN,tool,risiko_kurang_zat_be,Junita Purba has used risiko_kurang_zat_besi t...
4,2021-08-01 00:05:37,August,1,1,99000204,1991-05-25,Maya Latifatul Masrurroh,BENGKULU,KOTA BENGKULU,RATU AGUNG,tool,use_point,+3 point from use.
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8493,2022-08-02 19:27:41,August,1,2,30449,1976-11-16,"Surya Helena Noprianti Harahap, Bidan",SUMATERA UTARA,KABUPATEN SIMALUNGUN,SIANTAR,video,watch_point,+6 point from video section!
8494,2022-08-02 19:28:40,August,1,2,56607,1978-09-19,ELVINA SINAGA,SUMATERA UTARA,KABUPATEN SIMALUNGUN,TAPIAN DOLOK,video,watch,watched on Stimulasi Tumbuh Kembang Anak in vi...
8495,2022-08-02 19:28:41,August,1,2,56607,1978-09-19,ELVINA SINAGA,SUMATERA UTARA,KABUPATEN SIMALUNGUN,TAPIAN DOLOK,video,watch_point,+6 point from video section!
8496,2022-08-02 19:29:05,August,1,2,110683,1986-06-15,"Tiurma Rumahorbo, BPS",SUMATERA UTARA,KOTA PEMATANG SIANTAR,SIANTAR MARIMBUN,video,watch,watched on Stimulasi Tumbuh Kembang Anak in vi...
8497,2022-08-02 19:29:06,August,1,2,110683,1986-06-15,"Tiurma Rumahorbo, BPS",SUMATERA UTARA,KOTA PEMATANG SIANTAR,SIANTAR MARIMBUN,video,watch_point,+6 point from video section!

In [ ]:
df_hasil1 = df_hasil[['Tanggal', 'Bulan', 'Provinsi', 'Penggunaan_Menu', 'Aktivitas_Bidan']]
df_hasil1

,Tanggal,Bulan,Provinsi,Penggunaan_Menu,Aktivitas_Bidan
0,2021-08-01 00:00:22,August,SUMATERA UTARA,video,watch
1,2021-08-01 00:00:23,August,SUMATERA UTARA,video,watch_point
2,2021-08-01 00:01:24,August,SUMATERA UTARA,tool,use_point
3,2021-08-01 00:01:24,August,SUMATERA UTARA,tool,risiko_kurang_zat_be
4,2021-08-01 00:05:37,August,BENGKULU,tool,use_point
...,...,...,...,...,...
8493,2022-08-02 19:27:41,August,SUMATERA UTARA,video,watch_point
8494,2022-08-02 19:28:40,August,SUMATERA UTARA,video,watch
8495,2022-08-02 19:28:41,August,SUMATERA UTARA,video,watch_point
8496,2022-08-02 19:29:05,August,SUMATERA UTARA,video,watch
8497,2022-08-02 19:29:06,August,SUMATERA UTARA,video,watch_point

In [ ]:
df_hasil.isnull().sum()

Tanggal                     0
Bulan                       0
Minggu                      0
Hari                        0
Kode_User                   0
Tanggal_Lahir               0
Nama_Bidan                  0
Provinsi                    0
Kota atau Kabupaten         0
Kecamatan atau Kelurahan    0
Penggunaan_Menu             0
Aktivitas_Bidan             0
Keterangan                  0
dtype: int64

In [ ]:
options = ['comment']

# selecting rows based on condition
hsl_df = df_hasil1.loc[df_hasil['Aktivitas_Bidan'].isin(options)]

print('\nResult dataframe :\n',
	hsl_df)

Result dataframe :
                   Tanggal   Bulan          Provinsi Penggunaan_Menu  \
13    2021-08-01 00:29:24  August          BENGKULU           forum
15    2021-08-01 00:29:53  August          BENGKULU      ask-expert
17    2021-08-01 00:45:17  August            BANTEN     infographic
22    2021-08-01 03:17:43  August        JAWA TIMUR           forum
24    2021-08-01 03:18:39  August        JAWA TIMUR      ask-expert
...                   ...     ...               ...             ...
8477  2022-08-02 19:23:59  August          BENGKULU      ask-expert
8479  2022-08-02 19:24:15  August  SULAWESI SELATAN     infographic
8482  2022-08-02 19:25:12  August          BENGKULU           forum
8486  2022-08-02 19:25:19  August          BENGKULU           forum
8491  2022-08-02 19:26:26  August          BENGKULU           video

     Aktivitas_Bidan
13           comment
15           comment
17           comment
22           comment
24           comment
...              ...
8477         comment
8479         comment
8482         comment
8486         comment
8491         comment

[111856 rows x 5 columns]

In [ ]:
from pandas.io import gbq

hsl_df.to_gbq(destination_table='eNutri.all-set',
            project_id= 'enutri-359007',
            if_exists= 'replace')

Please visit this URL to authorize this application: https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=725825577420-unm2gnkiprugilg743tkbig250f4sfsj.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fbigquery&state=HFh0xhVemdY7HLFrI4qgzfCyFdIFPo&prompt=consent&access_type=offline
Enter the authorization code: 4/1AdQt8qjEVUMZq2q66kDyJ_iJnGGyLzCrpdB093RHTYIM_Av9lJE1pFCgkUo

1it [00:05,  5.78s/it]

In [ ]:
import re

def _read_points(df_hasil):
    all_unique_activities = df_hasil['Aktivitas_Bidan'].unique()
    activities_with_points = [unique for unique in all_unique_activities if 'point' in unique]

    columns_to_keep = ['Tanggal', 'Bulan', 'Provinsi', 'Nama_Bidan', 'Keterangan']

    data_points = df_hasil.loc[df_hasil['Aktivitas_Bidan'].isin(activities_with_points), columns_to_keep]

    data_points['Perolehan_Point'] = data_points['Keterangan'].apply(lambda row: re.findall(r'\+(\d+)\s', row)[0]).astype('int')

    return data_points

new_df = _read_points(df_hasil)
new_df

,Tanggal,Bulan,Provinsi,Nama_Bidan,Keterangan,Perolehan_Point
1,2021-08-01 00:00:23,August,SUMATERA UTARA,Junita Purba,+3 point from video section!,3
2,2021-08-01 00:01:24,August,SUMATERA UTARA,Junita Purba,+3 point from use.,3
4,2021-08-01 00:05:37,August,BENGKULU,Maya Latifatul Masrurroh,+3 point from use.,3
11,2021-08-01 00:06:43,August,BANTEN,"Haqqul Aqiqoh, BPS",+6 point from survey section!,6
14,2021-08-01 00:29:24,August,BENGKULU,Maya Latifatul Masrurroh,+1 point from forum section!,1
...,...,...,...,...,...,...
8487,2022-08-02 19:25:20,August,BENGKULU,MardiahDarwisBidan,+2 point from forum section!,2
8490,2022-08-02 19:25:57,August,SUMATERA UTARA,"Chilfia Frastika, BPS",+6 point from video section!,6
8493,2022-08-02 19:27:41,August,SUMATERA UTARA,"Surya Helena Noprianti Harahap, Bidan",+6 point from video section!,6
8495,2022-08-02 19:28:41,August,SUMATERA UTARA,ELVINA SINAGA,+6 point from video section!,6
8497,2022-08-02 19:29:06,August,SUMATERA UTARA,"Tiurma Rumahorbo, BPS",+6 point from video section!,6

In [ ]:
from pandas.io import gbq

new_df.to_gbq(destination_table='eNutri.point-set',
            project_id= 'enutri-359007',
            if_exists= 'replace')

Please visit this URL to authorize this application: https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=725825577420-unm2gnkiprugilg743tkbig250f4sfsj.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fbigquery&state=bzuWJtAcPq0x1BaBkvseM81nmPmKOf&prompt=consent&access_type=offline
Enter the authorization code: 4/1AdQt8qhDP1gRVKzZtm8UppinDQdIjeSTcaF4g4MBvFujL0uUmcOPazSALWM

1it [00:08,  8.99s/it]